<section class="posts-hero">
  <hgroup class="posts-hero__hgroup">
    <h1 class="posts-hero__title">{{hero.title}}</h1>
    {% if (hero.subtitle) %}
      <h2 class="posts-hero__subtitle">{{hero.subtitle}}</h2>
    {% endif %}
  </hgroup>
</section>