<section class="posts">
  <div class="posts__row">
    {% for post in posts.contents %}
      <article class="preview">
        <header class="preview__header">
          <h2 class="preview__title">{{post.title}}</h2>
          <p class="preview__short-descr">{{post.shortDescr}}</p>
        </header>
        <div class="preview__tags">
          {% for figure in post.tags %}
            <figure class="preview__tag">
              <figcaption>{{figure.caption}}</figcaption>
            </figure>
          {% endfor %}
        </div>
        <a class="preview__cta button" href="/{{post.slug}}">Read more</a>
        <footer class="preview__footer">
          <p class="preview__signature">Posted by <a href="{{posts.signatureUrl}}">Giovanni Rodighiero</a> on <time class="preview__date" datetime="{{post.date.value}}">{{post.date.label}}</time></p>
        </footer>
      </article>
    {% endfor %}
  </div>
  {% if (posts.ctaTitle) %}
    <a href="#" class="posts__cta button">{{posts.ctaTitle}}</a>
  {% endif %}
</section>