{% extends "./layout.njk" %}

{% block siteHeader %}
  {% include "./header/index.njk" %}
{% endblock %}

{% block mainContent %}
  {% include "./hero/index.njk" %}
  {% include "./previews/index.njk" %}
{% endblock %}