<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="320" name="MobileOptimized">
  <meta content="gdi" http-equiv="X-UA-TextLayoutMetrics">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="#009EDD" name="theme-color">
  <meta name="HandheldFriendly" content="true"/> 
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <title>{{ meta.title }}</title>
  <meta name="description" content="{{meta.description}}">
  <meta name="keywords" content="{{meta.keywords}}">
  <meta name="author" content="Giovanni Rodighiero">

  <link rel="stylesheet" href="/main.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  {% block siteHeader %}
  {% endblock %}
  <main>
    {% block mainContent %}
    {% endblock %}
  </main>
  {% block footer %}
    {% include "./footer/index.njk" %}
  {% endblock %}

  <script src="/bundle.js"></script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>