<header class="site-header">
  <div class="site-header__left">
    <p class="site-header__title">
      <a href="{{header.home}}" class="site-header__logo-link">
        {{header.title}}
      </a>
    </p>
    <a href="{{header.home}}" class="site-header__logo-link">
      <abbr title="{{header.title}}" class="site-header__short-title">{{header.shortTitle}}</abbrp>
    </a>
  </div>
  <nav class="site-nav">
    <ul class="site-nav__list">
      {% for link in header.links %}
        {% if loop.index0 === header.activePageIndex %}
        <li class="site-nav__list-item active">
          <a class="site-nav__link" href="{{link.url}}">{{ link.label }}</a>
        </li>
        {% else %}
          <li class="site-nav__list-item">
            <a class="site-nav__link" href="{{link.url}}">{{ link.label }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>