<header class="site-header">
  <div class="site-header__left">
    <p class="site-header__title">{{header.title}}</p>
    <abbr title="{{header.title}}" class="site-header__short-title">{{header.shortTitle}}</abbrp>
  </div>  
  <nav class="site-nav">
    <ul class="site-nav__list">
      {% for link in header.links %}
        <li class="site-nav__list-item">
          <a class="site-nav__link" href="{{link.url}}">{{ link.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>