.post-hero {
  text-align: center;
  margin: 30px 10%;
  margin-top: 100px;
  @include untilTablet {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.post-hero__title {
  font-size: 3rem;
  color: $orange;
  line-height: 50px;
  @include untilTablet {
    font-size: 2.5rem;
    line-height: 40px;
  }
}

.post-hero__subtitle {
  font-size: 2rem;
  font-weight: normal;
  width: 70%;
  margin: 10px auto;
  line-height: 50px;
  @include untilDesktop {
    width: 90%;
    font-size: 1.8rem;
    line-height: 40px;
  }
  @include untilTablet {
    text-align: left;
  }
}

.post {
  max-width: 1024px;
  text-align: center;
  margin: 50px auto;
  p {
    line-height: 30px;
    margin: 40px 0;
    font-size: 1.2rem;
    text-align: left;
  }
  @include untilDesktop {
    margin-left: 5%;
    margin-right: 5%;
  }
  li {
    line-height: 30px;
    text-align: left;
  }
}

.post__code {
  text-align: left;
  line-height: 25px;
}

.post__caption {
  color: $darkGrey;
  text-align: center !important;
  font-size: 0.9rem !important;
  margin-top: -15px !important;
  font-style: italic;
}

.post-footer {
  margin: 100px 30px;
  font-style: italic;
  text-align: center;
  line-height: 25px;
}