<section class="about-hero">
  <hgroup class="about-hero__hgroup">
    <h1 class="about-hero__title">{{hero.title}}</h1>
    <h2 class="about-hero__subtitle">{{hero.subtitle | safe}}</h2>
  </hgroup>
</section>