{% extends "../layout.njk" %}

{% block siteHeader %}
  {% include "../header/index.njk" %}
{% endblock %}

{% block mainContent %}
  <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
      <a itemprop="item" href="/" class="breadcrumbs__link">
        <span itemprop="name">Home</span></a>
      <span itemprop="position" content="1">&gt;</span>
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
      <a itemprop="item" href="/en/about.html" class="breadcrumbs__link">
        <span itemprop="name">About</span>
      </a>
    </li>
  </ol>
  {% include "./hero.njk" %}
  {% include "./bio.njk" %}
  {% include "./contacts.njk" %}
{% endblock %}
