<section class="site-hero">
  <div class="site-hero__image site-hero__image--mobile" style="background-image: url('{{hero.image.mobile}}')"></div>
  <h1 class="site-hero__title">{{hero.title}}</h1>
</section>