<section class="hero">
  {#<div class="hero__image hero__image--desktop" style="background-image: url('{{hero.image.desktop}}')"></div>#}
  {#<div class="hero__image hero__image--tablet" style="background-image: url('{{hero.image.tablet}}')"></div>#}
  <div class="hero__image hero__image--mobile" style="background-image: url('{{hero.image.mobile}}')"></div>
  <h1 class="hero__title">{{hero.title}}</h1>
</section>