<section class="previews">
  <p class="previews__title">{{recentlyWrote.title}}</p>
  {% for post in recentlyWrote.posts %}
    <article class="preview">
      <header class="preview__header">
      </header>
    </article>
  {% endfor %}
</section>