.previews, .posts {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.previews__row, .posts__row {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1337px;
  margin: 0 auto;
  justify-content: center;
}

.previews__title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  color: $orange;
  // background-color: $orange;
  width: 40%;
  padding: 0 5px;
  margin-left: 15px;
  border-bottom: 1px solid $orange;
  @include untilDesktop {
    width: 60%;
  }
}

.preview {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 auto;
  width: 28.3%;
  box-sizing: border-box;
  margin: 30px 2.5%;
  padding: 0 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @include untilDesktop {
    width: 90%;
  }
}

.preview__title {
  margin: 20px 5px 10px 5px;
  font-size: 1.8rem;
  line-height: 30px;
  // color: $lightBlue;
}

.preview__short-descr {
  margin-top: 30px;
  line-height: 25px;
}

.preview__tags {
  font-weight: bold;
}

.preview__tag-intro {
  width: 80%;
}

.preview__tag {
  margin-left: 15px;
  color: $orange;
}


.preview__cta {
  text-align: center;
  width: 100px;
  align-self: flex-end;
}

.preview__signature {
  clear: right;
  margin: 0;
  font-size: 0.8rem;
  color: $darkGrey;
  padding: 0;
  a {
    color: $orange;
    text-decoration: none;
  }
}

.previews__cta {
  font-size: 1.3rem;
  padding: 5px 20px;
}
