.site-hero {
  position: relative;
}

.site-hero__title {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  margin: 0;
  width: 100%;
  padding: 30px 15px;
  color: white;
  box-sizing: border-box;
  font-weight: normal;
  background: linear-gradient(to top, rgba(0,0,0,0.85) 10%,rgba(0,0,0,0) 100%);
  @include smallMobile {
    font-size: 2.5rem;
  }
  @include tablet {
    padding-right: 30%;
  }
  @include fromDesktop {
    padding-right: 50%;
  }
}

.site-hero__image {
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
}
