.site-header {
  background-color: $lightBlue;
  color: white;
}

.site-header__left {
  display: inline-block;
  margin: 0 0 5px 10px;
  width: 65%;
}

.site-nav {
  width: 30%;
  display: inline-block;
  position: absolute;
  right: 0;
}

.site-nav__list {
  height: 100%;   
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.site-header__title {
  font-size: 2rem;
  margin: 0;
}