{% extends "../layout.njk" %}

{% block siteHeader %}
  {% include "../header/index.njk" %}
{% endblock %}

{% block mainContent %}
  <article>
    {% include "./hero.njk" %}
    {% include "./content.njk" %}
    {% include "./signature.njk" %}
  </article>
{% endblock %}