<section class="post-footer">
  <p class="post-footer__signature">Posted by <a href="{{signatureUrl}}">Giovanni Rodighiero</a> on <time class="preview__date" datetime="{{date.value}}">{{date.label}}</time></p>
</section>