// colors
$darkGreen: #03312E;
$green: #037171;
$lightGreen: #00B9AE;
// $blue: #00739E;
$blue: #00ACCE;
$lightBlue: #009EDD;
$orange: #DB5A42;
$lightOrange: #E8AE68;

// fonts
$baseSize: '16px';

html, body {
  margin: 0;
  padding: 0;
  font-size: $baseSize;
}