// colors
$darkGreen: #03312E;
$green: #037171;
$lightGreen: #00B9AE;
// $blue: #00739E;
$blue: #00ACCE;
$lightBlue: #009EDD;
$orange: #DB5A42;
$lightOrange: #E8AE68;

// fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$baseSize: 16px;

html, body {
  margin: 0;
  padding: 0;
  font-size: $baseSize;
  line-height: 60px;
  font-family: 'Nunito', sans-serif;
}
body {
  position: relative;
  height: 1px;
}