// media queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

@mixin untilTablet {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin smallMobile {
  @media (min-width: 350px) and (max-width: #{$mobile - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile}) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}
