.button {
  background-color: $lightBlue;
  color: white;
  border: 2px solid $lightBlue;
  line-height: 40px;
  padding: 0px 10px;
  text-decoration: none;
  font-style: italic;
  &:hover {
    background-color: white;
    color: $lightBlue;
  }
}

.breadcrumbs {
  margin-top: 80px;
  padding-left: 10px;
  line-height: 30px;
}

.breadcrumbs__item {
  list-style: none;
  display: inline;
  span {
    margin: 0 5px;
    font-size: 1.2rem;
  }
}

main {
  margin-top: 50px;
  min-height: 80vh;
}